doctype html
html
  head
    title about - teddit
    meta(property='og:title', content='about - teddit')
    include includes/meta_default.pug
    include includes/meta_description.pug
    include includes/head.pug
  body(class=""+ (user_preferences.theme === 'auto' ? 'dark' : user_preferences.theme) + "")
    include includes/topbar.pug
    .container
      .content
        h1 About
        p Teddit is a free and open source alternative Reddit front-end focused on privacy. Teddit doesn't require you to have JavaScript enabled in your browser. The source is available on Codeberg at <a href="https://codeberg.org/teddit/teddit">https://codeberg.org/teddit/teddit</a>.
        ul
          li No JavaScript or ads
          li All requests go through the backend, client never talks to Reddit
          li Prevents Reddit from tracking your IP or JavaScript fingerprint
          li Lightweight (teddit frontpage: ~30 HTTP requests with ~270 KB of data downloaded vs. Reddit frontpage: ~190 HTTP requests with ~24 MB)
        br
        a(href="/privacy") Privacy policy
        h2 Donating
        p(class="word-break") XMR: 832ogRwuoSs2JGYg7wJTqshidK7dErgNdfpenQ9dzMghNXQTJRby1xGbqC3gW3GAifRM9E84J91VdMZRjoSJ32nkAZnaCEj
        .bottom
          a(href="https://en.wikipedia.org/wiki/Piratbyr%C3%A5n#Kopimi", target="_blank")
            img(src="kopimi.gif")
          p.version v.0.4.6
    include includes/footer.pug
